:root {
  --duration: 2s; 
}

body {
  background: #002;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  perspective: 800px;
  overflow: hidden;
  perspective-origin: 50% 60%;
}
.string {
  color: #f09;
  display: flex;  
  animation: spin var(--duration) ease infinite;
  transform-style: preserve-3d;
  font-size: 10vw;
  text-shadow: 0 0 1em, 0 0 0.1em #fff9;
}


.twenty-two,
.twenty,
.zero-two{
  transform-style: preserve-3d;
  display: flex;
}

.two, .zero {
  animation: reverse-spin var(--duration) ease infinite;
}

.dot {
  animation: push-left var(--duration) ease infinite;
}

.twenty, .zero-two {
  animation: push-right var(--duration) ease infinite;  
}

@keyframes spin {
  0% { transform: rotateY(0deg); }
  80%, 100% { transform: rotateY(180deg);}
}

@keyframes reverse-spin {
  0% { transform: rotateY(0deg); }
  80%, 100% { transform: rotateY(-180deg);}
}

@keyframes push-left {
  0% { transform: translateX(0); }
  80% { transform: rotateY(-180deg) translateX(0);  animation-timing-function: linear; }
  82.5% { transform: rotateY(-180deg) translateY(0.2em) translateX(-0.25em);  animation-timing-function: linear; }
  85% { transform: rotateY(-180deg) translateY(0.25em) translateX(-0.5em);  animation-timing-function: linear; }
  87.5% { transform: rotateY(-180deg) translateY(0.2em) translateX(-0.75em);  animation-timing-function: linear; }
  90%, 100% { transform: rotateY(-180deg) translateX(-1.11em);  animation-timing-function: linear; }
}

@keyframes push-right {
  0% { transform: translateX(0); }
  80% { transform: translateX(0) ; }
  90%, 100% { transform: translateX(-0.5ch); }
}


.claim {
  color: #f0f0f0;
  font-size: 3.5vw;
  font-family: 'Gruppo', cursive;
  text-shadow: 0 0 0.5em #0ff9;
}
